<form id="contactForm">
    <!-- Name input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="name" type="text" placeholder="Enter your name..." />
        <label for="name">Full name</label>
    </div>
    <!-- Email address input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="email" type="email" placeholder="name@example.com" />
        <label for="email">Email address</label>
    </div>
    <!-- Subject input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="subject" type="text" placeholder="The subject of your mail..." />
        <label for="subject">Subject</label>
    </div>
    <!-- Message input-->
    <div class="form-floating mb-3">
        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
        <label for="message">Message</label>
    </div>
    <!-- Submit Button-->
    <div class="d-grid"><button class="btn btn-primary btn-lg" style="background-color: limegreen; border-color: limegreen;" id="submitButton" type="submit">Submit</button></div>
</form>
