<div class="col-md-8 mx-auto">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Send') }}</button>
    {{ form_end(form) }}
</div>
