{# TODO: Use this template as your page's bodyo #}

<section class="container row row-cols-1">
    <div class="col-md-8 mx-auto">
        <h1>New event</h1>
    </div>

    {# TODO: Replace me #}
</section>
