{# TODO: Use this template as your page's body #}

<div class="container flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="fw-bold" style="color: limegreen;">{# TODO: Replace me #}</h1>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Created {# TODO: Replace me #}</li>
                    <li class="list-group-item">
                        <p class="">{# TODO: Replace me #}</p>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <h5>Projects:</h5>
                            {# TODO: Loop here #}
                                <a href="{# TODO: Replace me #}">{# TODO: Replace me #}</a>&nbsp;
                            {# TODO: End loop #}
                        </div>
                        <div class="mb-4">
                            <h5>Events:</h5>
                            {# TODO: Loop here #}
                                <a href="{# TODO: Replace me #}">{# TODO: Replace me #}</a>&nbsp;
                            {# TODO: End loop #}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
